.header {
  display: grid;
grid-template-columns: 25% 25% 30% 20%; 
}

.main {
  display: flex;
  flex-direction: column;
grid-template-columns: 20% 80%; 
}

.jeu {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr; 
}

.menu_buttons{
  width: 20%;
  background-color: aquamarine;
}

.player{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: blueviolet;
}

.dashboard{
  display: flex;
  flex-direction: row;
  background-color: green;
  justify-content: space-around;
}

.products{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  background-color: aqua;
  flex-wrap: wrap;
}

.product{
  display: flex;
  justify-content: space-between;
  border: solid black 2px;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}

.product > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p_firstSection{
  width: 20%;
  align-items: center;
  border-radius: 30%;
}
.p_secondSection{
  width: 80%;
}


.barstyle{
  width: 100%;
  height: 20%;
}


.modal {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 800px; /* largeur */
  height: 800px; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: white; /* opaque */
  border: solid;
  top:10; /* a 10% du haut */
  left:20%; /* a 20% de la gauche */
 }

 .unlock{
  display: flex;
  align-items: center;
 }

 .headerUnlock{
  display: flex;
  align-items: center;
 }

 .headerUnlock *{
  padding: 12px;
 }

 .upgrades{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

 .upgrades div{
  display: flex;
  flex-direction: column;
  align-items: center;

 }